
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema Web | Humus Editorial</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Recursos/Plantilla/assets/images/logo1.png">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Recursos/Plantilla/pluginsn/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Recursos/Plantilla/pluginsn/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Recursos/Plantilla/distn/css/adminlte.min.css">


    <!-- Toastr -->
    <link rel="stylesheet" href="~/Recursos/Plantilla/pluginsn/toastr/toastr.min.css">


    <!--Sweetalert2-->
    <link rel="stylesheet" href="~/Recursos/Plantilla/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Recursos/Plantilla/dist/css/sweetalert2.min.css">





</head>




<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="@Url.Action("Inicio", "Editorial")" class="h1 text-secondary">
                    <b class="text-secondary">Sistema Web </b>
                    <img src="~/Recursos/Plantilla/assets/images/logohumus2.png" alt="homepage" class="light-logo" style="margin-top:1%" />
                </a>
            </div>
            <div class="card-body">
                <p class="login-box-msg text-muted ">¿Olvidaste tu contraseña? Aquí puedes obtener facilmente una nueva contraseña</p>

                @using (Html.BeginForm("VerificarEmail", "Usuario", FormMethod.Post, new { @class = "form-horizontal" }))
                {

                    @*<form action="recover-password.html" method="post">*@
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" id="email" name="email" required="">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Obtener nueva contraseña</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    @*</form>*@
                }

                <p class="text-center text-muted" style="margin-top: 10%">


                    Escuela Superior Politécnica Agropecuaria de Manabí Manuel Félix López

                </p>


                @*<p class="text-center" style="margin-top: 5%">

                        <a href="@Url.Action("Login", "Usuario")">Iniciar Sesión</a>
                    </p>*@

                <!--<p class="text-center text-muted" style="margin-top: 10%">-->
                <!--<a href="login.html">Login</a>-->
                <!--Escuela Superior Politécnica Agropecuaria de Manabí Manuel Félix López
                </p>-->

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->




    <script src="~/Recursos/Plantilla/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Recursos/Plantilla/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Recursos/Plantilla/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>

    <!-- jQuery -->
    <script src="~/Recursos/Plantilla/pluginsn/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Recursos/Plantilla/pluginsn/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Recursos/Plantilla/distn/js/adminlte.min.js"></script>
    <!-- Toastr -->
    <script src="~/Recursos/Plantilla/pluginsn/toastr/toastr.min.js"></script>
    <!--sweetalert2-->
    <script src="~/Recursos/Plantilla/dist/js/sweetalert2.all.min.js"></script>
    <script src="~/Recursos/Plantilla/plugins/sweetalert2/sweetalert2.min.js"></script>



</body>
</html>




@{



    if (TempData["ERROR"] != null)
    {
        <script>

           
            $('#TempData[ERROR]').ready(function () {
                Swal.fire(
                    'Notificación!',
                    '¡Algo salió mal, intente otra vez!',
                    'error'
                  
                )
            });



        </script>

    }




}

